.page-account {

    .table-box{
        background: rgba(255, 255, 255, 0.05);
        border: 1px solid  rgba(255, 255, 255, 0.05);
    }
    .data-card {
        --at-apply: py-20px px-10px w-100%  lg:h-auto flex items-center justify-center;
        border: 1px solid #D87CEE;
        background: linear-gradient(180deg, rgba(211, 135, 255, 0.06) 0%, rgba(211, 135, 255, 0.1) 100%);
        border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(211, 135, 255, 0.6)) 1;
        backdrop-filter: blur(25px);
    }
    .ant-table-wrapper {
        width: 100%;
    }

}
