
.ant-pagination {
    .ant-pagination-item {
        border-radius: 0;
        margin-right: 0;
    }

    .ant-pagination-item a {
        color: white;
    }

    .ant-pagination-prev,
    .ant-pagination-next {
        margin-right: 0;

        button {
            color: white;
        }
    }

    .ant-pagination-item-active {
        --at-apply: min-w-22px lh-14px w-auto h-auto p-5px color-white bg-#D87CEE38 border-none;

        a {
            --at-apply: px-0;
            color: white !important;
        }
    }

    .ant-pagination-item-link-icon {
        color: white !important;
    }

    .ant-pagination-item-link .ant-pagination-item-ellipsis {
        color: white !important;
    }

    .ant-pagination-options {
        display: none;
    }
    .ant-pagination-disabled .ant-pagination-item-link{
        color: #666 !important;
    }
}

.ant-popover .ant-popover-content {
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.ant-table {
    background: transparent !important;

}
.ant-table-cell,
.ant-table-wrapper .ant-table-thead>tr>th,
.ant-table-wrapper .ant-table-tbody>tr>th,
.ant-table-wrapper .ant-table-tbody>tr>td,
.ant-table-wrapper tfoot>tr>td {
    font-size: 12px;
    padding: 0px 8px !important;
    height: 4.6vh;
    svg{
        --at-apply:color-white;
    }

}

.ant-table-thead>tr>th {
    font-size: 12px !important;
    font-weight: normal;
    padding: 10px 8px !important;
    font-size: 12px;
    height: 4.6vh;
    svg{
        --at-apply:color-white;
    }
    background: transparent !important;
    .anticon.active {
        svg {
            --at-apply: color-#a216ff;
        }
    }



}
.ant-table-placeholder .ant-table-cell {
    border-bottom: none !important;
}
.ant-table-thead .ant-table-cell-fix-right,.ant-table-wrapper .ant-table-tbody .ant-table-cell-fix-right,.ant-table-thead .ant-table-cell-fix-left,.ant-table-wrapper .ant-table-tbody .ant-table-cell-fix-left{
    background: #24152F !important;
}
.ant-table-thead .ant-table-cell-fix-right,.ant-table-wrapper .ant-table-tbody .ant-table-cell-fix-right,.ant-table-thead .ant-table-cell-fix-left,.ant-table-wrapper .ant-table-tbody .ant-table-cell-fix-left{
    &:hover {
        background: rgba($color: #000000, $alpha: 0.8) !important;
    }
}