.scrollbar {
  &-x {
    overflow-x: scroll;

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      // background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-track {
      border-radius: 2.5px;
      // background-color: #e9e9e9;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2.5px;
      background-color: #2b2626;
    }

  }

  &-y {
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      // background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-track {
      border-radius: 2.5px;
      // background-color: #e9e9e9;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2.5px;
      background-color: #cdcbcb;
    }

  }
}

.router-wrapper {
  --at-apply: lg:flex lg:justify-center lg:items-center lg:h-82vh lg:py-0 py-20px;

  &>div {
    width: 100%;
    height: 100%;

    --at-apply: lg:flex lg:justify-center lg:items-center;

  }
}