.wallet-card {
    background: linear-gradient(180deg, rgba(211, 135, 255, 0.00) 0%, rgba(211, 135, 255, 0.05) 100%);
    backdrop-filter: blur(25px);
    transition: ease .3s;
    border: 1px solid rgba($color: #fff, $alpha: .3);
    .arraw-icon {
        transition: ease .3s;
    }
    .default-img {
        display: block;
    }
    .active-img {
        display: none;
    }
    &:hover {
        background: linear-gradient(180deg, rgba(211, 135, 255, 0.01) 0%, rgba(211, 135, 255, 0.1) 100%);
        border-color: rgba($color: #fff, $alpha: .7);
        .arraw-icon {
            transform: translateX(30px);
        }
        .default-img {
            display: none;
        }
        .active-img {
            display: block;
        }
    }
}