.page-validator {
    .data-card {
        background: rgba(56, 55, 82, 0.60);
        --at-apply: border-color-white border-1px border-solid flex justify-center items-center cursor-pointer h-40px lg:h-auto ;
        &.active {
            background: linear-gradient(180deg, rgba(211, 135, 255, 0.06) 0%, rgba(211, 135, 255, 0.1) 100%);
            border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(211, 135, 255, 0.6)) 1;
            backdrop-filter: blur(25px);
        }
    }

    .table-box {

        background: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.05);
    }

    .data-panel {
        --at-apply: h-60px lg:h-17.27vh flex flex-row w-48% lg:w-100% justify-center items-center;
        border: 1px solid #D87CEE;
        background: linear-gradient(180deg, rgba(211, 135, 255, 0.06) 0%, rgba(211, 135, 255, 0.1) 100%);
        border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(211, 135, 255, 0.6)) 1;
        backdrop-filter: blur(25px);
        .tit {
            --at-apply: font-size-14px lg:font-size-16px;
        }
        .val {
            --at-apply: mt-0 lg:mt-14px font-size-14px lg:font-size-24px;
        }
    }
}