.search-box {
    border: 1px solid rgba(255, 255, 255, 0.4);
    --at-apply: py-6px lg:py-12px px-10px lg:px-16px;

    input {
        width: 100%;
        outline: none;
        background: none;
        border: none;

        &::placeholder {
            color: #7B779B;
            font-family: 'Space Mono';
        }
    }

    &.focus {
        border-color: #a864cf;
    }
}