.deployment-panel {
    border-top: 1px solid rgba($color: #fff, $alpha: .1);

    .de-card {
        --at-apply: h-100% border-#573a6c border-solid border-1px rounded-8px flex-1 p-50px flex flex-col justify-center;
        transition: ease .3s;

        // 71478D
        &:hover {
            --at-apply: border-#D387FF;
            background: rgba($color: #D387FF, $alpha: .25);
        }
    }

    .dp-btn {
        --at-apply: bg-#584777 color-white text-center font-size-18px lh-42px rounded-4px select-none cursor-pointer;
        transition: ease .3s;

        &:hover {
            --at-apply: bg-#8C2DDA;

        }
    }
}