.no-code-deployment {
    .erc-card-box {
        --at-apply: my-2vh;

        .erc-card {
            transition: ease .3s;
            --at-apply: px-20px rounded-4px lh-5vh cursor-pointer;

            &.selected {
                --at-apply: bg-#8C2DDA;
            }
        }
    }

    .deployment-form {
        .label {
            --at-apply: font-size-14px mb-1vh;
        }

        input {
            --at-apply: lh-34px bg-#160F20 px-10px border-color-#5C5763 border-solid border-1px flex-1 block w-100%;

            &:focus {
                outline: 1px solid #8C2DDA;
                border: none;
            }
        }
    }
}