#root {
  margin: 0 auto;
  text-align: center;
}


.container-box {
  --at-apply: w-100vw;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
